@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  color: inherit;
  font-family: inherit;
}
html {
  scroll-behavior: smooth;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0 112px;
  align-items: center;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  font-family: "Heebo", sans-serif;
  color: #ffffff;
}
.color {
  background-color: #040327;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 1px;
  width: 264px;
  height: 52px;
  background-color: #e85937;
  color: #ffffff;
  border: 1px solid #e85937;
  border-radius: 6px;
}
a {
  text-decoration: none;
}
h1 {
  font-weight: 800;
  font-size: 62px;
}
h2 {
  font-weight: 700;
  font-size: 32px;
}
h5 {
  font-weight: 400;
  font-size: 20px;
}
small {
  font-size: 18px;
  font-weight: 500;
}
p {
  font-size: 20px;
  font-weight: 400;
}
.hero {
  overflow: hidden;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  padding-left: 111px;
}
.image-wrapper {
  margin-right: -115px;
  position: relative;
}
.img-wrap {
  position: absolute;
  height: 1163px;
}
.texts-banner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 815px;
  height: 360px;
}
.text-hero {
  color: #d5d5db;
}
.hero-title {
  color: #f5d15f;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 5px;
  font-size: 18px;
}
.text-pad {
  padding-top: 8px;
}
.pad {
  margin-top: 24px;
  margin-bottom: 32px;
  width: 615px;
  letter-spacing: 1px;
}
.btn-text {
  font-size: 18px;
  font-weight: 700;
}
.cards {
  display: flex;
  justify-content: space-between;
  margin-left: 112px;
  margin-right: 102px;
  margin-top: 103px;
}
.pad-blog {
  width: 621px;
  height: 621px;
  margin: 46px 0 0 41px;
  position: relative;
}
.img-card {
  width: 47px;
  height: 47px;
}
.txt-size {
  font-size: 16px;
  font-weight: 400;
}
.size-txt-smal {
  font-size: 16px;
  font-weight: 500;
  width: 303px;
  height: 41px;
  margin-bottom: 32px;
}
.txt-norm {
  font-size: 24px;
  font-weight: 500;
  width: 255px;
  height: 62px;
  margin: 16px 0;
}
.text-card {
  margin-top: 8px;
  letter-spacing: 1px;
  width: 208px;
}
.text-blog {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 605px;
  height: 378px;
  margin-top: 149px;
  margin-left: 42px;
  margin-right: 131px;
}
.blog {
  display: flex;
  justify-content: space-between;
}
.back-img {
  /* position: absolute; */
  background-image: url(Starts.svg);
  width: 100%;
}
.size-text {
  font-weight: 400;
  font-size: 16px;
  width: 605px;
  height: 170px;
}
.otst {
  width: 561px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
}
.les-text {
  margin: 28px 0 24px 0;
  height: 170px;
  width: 531px;
}
.back-color {
  background-image: url("Starts.svg"), linear-gradient(#040327, #000000);
}
.text-carros {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 320px;
  height: 229px;
  margin-top: 188px;
  margin-left: 111px;
}
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.img-position {
  width: 162px;
  height: 25px;
}
.pad-card {
  margin-top: 13px;
  margin-bottom: 17px;
}
.position-card {
  margin-top: 121px;
}
.register {
  /* display: flex; */
  /* justify-content: space-between; */

  margin-top: 250px;
}
.sing-up-form {
  width: 520px;
  height: 690px;
  background-color: #0e0d40;
  margin-left: 111px;
  border-radius: 20px;
  padding: 39px 52px 61px 52px;
  margin-bottom: 130px;
}
.form {
  display: flex;
  justify-content: space-between;
  padding-right: 138px;
}
.rocket {
  height: 980px;
  width: 545px;
  padding-left: 80px;
}
.smoke {
  width: 100%;
  height: 370px;
  margin-top: -120px;
}
.started {
  display: flex;
  flex-direction: column;
}
.border {
  border: 1px solid #d5d5db;
  border-radius: 6px;
  background-color: #0e0d40;
  padding: 17px 321px 17px 12px;
  margin: 12px 0 24px 0;
}
.bird {
  border: 1.5px solid #ffffff;
  border-radius: 6px;
  background-color: #0e0d40;
  width: 24px;
  height: 24px;
  margin-bottom: 32px;
}
.okay {
  display: flex;
}
.text-okay {
  margin-left: 16px;
}
.solid-txt {
  font-size: 18px;
  font-weight: 700;
}
.btn-size {
  width: 100%;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 112px;
}
ul,
ol {
  list-style: none;
}
.logo {
  width: 227px;
  height: 35px;
}
.fab {
  color: #ffffff;
  font-size: 22px;
}
.fab + .fab {
  margin-left: 18px;
}
.icons {
  width: 111px;
  height: 25px;
}
.menu {
  display: flex;
}
.menu li {
  margin-left: 34px;
}
.size-end {
  font-size: 16px;
  font-weight: 500;
  width: 366px;
  height: 20px;
  
}
.stars {
  background-image: url(Starts.svg);
  width: 100%;
}

